%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._icon-Profile:before {
	content: "\e90d";
}

._icon-balans:before {
	content: "\e900";
	color: #fff;
}
._icon-Facebook:before {
	content: "\e901";
	color: #fff;
}
._icon-instagram:before {
	content: "\e902";
	color: #fff;
}
._icon-registration:before {
	content: "\e903";
	color: #fff;
}
._icon-registration2:before {
	content: "\e904";
	color: #fff;
}
._icon-twitter:before {
	content: "\e905";
	color: #fff;
}
._icon-safety:before {
	content: "\e906";
	color: #fff;
}
._icon-ballans:before {
	content: "\e907";
	color: #fff;
}
._icon-start:before {
	content: "\e908";
	color: #fff;
}
._icon-book:before {
	content: "\e909";
	color: #fff;
}
._icon-static:before {
	content: "\e90a";
	color: #fff;
}
._icon-static2:before {
	content: "\e90b";
	color: #fff;
}
._icon-convenience:before {
	content: "\e90c";
	color: #fff;
}
