//===================================================================================================
.invest {
    // .invest__container

    &__container {
    }

    // .invest__img

    &__img::before {
        content: "";
        position: absolute;
        top: 100px;
        left: 1%;
        width: 448px;
        height: 357px;
        background-image: url("../img/bicoin.png ");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-position: center;
        z-index: -1;
        @media (max-width: 1250px) {
            width: 300px;
            height: 350px;
            left: -5%;
        }

        @media (max-width: $mobile) {
            left: -10%;
            top: -100px;
            width: 300px;
            height: 350px;
        }
    }
}

.cripto-treider {
    // .cripto-treider__inner

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: end;

        text-align: left;

        @media (max-width: $mobile) {
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    // .cripto-treider__item

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 0px;

        @media (max-width: $mobile) {
            align-items: center;
            z-index: -2;
        }
    }

    // .cripto-treider__title

    &__title {
        margin-bottom: 30px;
        margin-top: 30px;
        line-height: 125%;
        font-weight: 600;
        @media (max-width: $mobile) {
            margin-bottom: 25px;
            margin-top: 25px;
        }
    }

    // .cripto-treider__text

    &__text {
        font-size: 12px;
        margin-bottom: 57px;
        @media (max-width: $mobile) {
            margin-bottom: 14px;
        }
    }

    // .cripto-treider__btn

    &__btn {
        max-width: 212px;
        box-sizing: border-box;
        @media (max-width: $mobile) {
            max-width: 200px;

            margin-bottom: 14px;
        }
        @media (max-width: $mobileSmall) {
        }
    }
}
.item {
    // .item__treider

    &__treider {
        flex: 0 1 400px;
        position: relative;
        @media (max-width: $mobile) {
            flex: 0 1 190px;
            z-index: -1;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 270px;
        }
    }
    img {
    }
}
.img-men {
    img {
        width: 100%;
        max-width: 100%;
        position: relative;
        z-index: -1;
        @media (max-width: $mobile) {
            margin-right: 60px;
        }

        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
.img-men::before {
    content: "";
    position: absolute;
    top: 70px;
    right: -70px;
    width: 80px;
    height: 98px;
    background-image: url(../img/уголок.верх.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    @media (max-width: $mobile) {
        content: "";
        width: 50px;
        height: 58px;
        top: 250px;
        right: -10px;
    }
}

//====================================================================================================
