//===================================================================================================
.invest {
    // .invest__container

    &__container {
    }

    // .invest__img

    &__img::before {
        content: "";
        position: absolute;
        top: 100px;
        left: 1%;
        width: 448px;
        height: 357px;
        background-image: url("../img/bicoin.png ");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-position: center;
        z-index: -1;
        @media (max-width: 1250px) {
            width: 300px;
            height: 350px;
            left: -5%;
        }

        @media (max-width: $mobile) {
            left: -10%;
            top: -100px;
            width: 300px;
            height: 350px;
        }
    }
}

.cripto-treider {
    // .cripto-treider__inner

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: start;
        @include adaptiveValue("margin-top", 10, 0);
        text-align: left;

        @media (max-width: $mobile) {
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    // .cripto-treider__item

    &__item {
    }

    // .cripto-treider__title

    &__title {
        margin-top: 100px;
        line-height: 125%;
        font-weight: 600;
        @media (max-width: 980px) {
            margin-top: 20px;
        }
    }

    // .cripto-treider__text

    &__text {
        font-size: 12px;
        @include adaptiveValue(" margin-bottom", 57, 10);
        @media (max-width: $mobile) {
        }
    }

    // .cripto-treider__btn

    &__btn {
        max-width: 212px;
        box-sizing: border-box;
        @media (max-width: $mobile) {
            max-width: 200px;

            margin-bottom: 14px;
        }
        @media (max-width: $mobileSmall) {
        }
    }
}
.item {
    // .item__treider

    &__treider {
        position: relative;
        flex: 0 1 440px;
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            z-index: -1;
            flex: 0 1 auto;
        }
        @media (max-width: $mobileSmall) {
        }
    }
    img {
    }
}
.img-men {
    img {
        width: 100%;
        max-width: 100%;
        position: relative;
        z-index: -1;
        margin-left: -56px;
        @media (max-width: $mobile) {
        }

        @media (max-width: $mobileSmall) {
        }
    }
}
.img-men::before {
    content: "";
    position: absolute;
    top: 70px;
    right: -70px;
    width: 80px;
    height: 98px;
    background-image: url(../img/уголок.верх.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    @media (max-width: $mobile) {
        content: "";
        width: 50px;
        height: 58px;
        top: 250px;
        right: -10px;
    }
}
//===================================================================================================

// pablic-treiding

//===================================================================================================

.pablic-triding {
    margin-top: -100px;

    @media (max-width: 930px) {
        margin-top: -30px;
    }
    // .pablic-triding__wrapper
    &__wrapper {
        border: 0.5px solid #aaa7a7;
        border-radius: 20px;
        position: relative;
        padding: 60px 100px;

        @media (max-width: $tablet) {
            padding: 60px;
        }
        @media (max-width: $mobile) {
            padding: 30px;
        }
        @media (max-width: $mobileSmall) {
            padding: 10px;
        }
    }
    &__wrapper::before {
        position: absolute;
        content: "";
        border-radius: 20px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 2;
        backdrop-filter: blur(6px);
        background: rgb(56, 145, 179);
        background: linear-gradient(
            180deg,
            rgb(56 145 179 / 31%) 2%,
            rgb(37 49 66 / 41%) 47%,
            rgb(0 212 255 / 16%) 91%
        );

        z-index: -1;
    }

    // .pablic-triding__container

    &__container {
    }

    // .pablic-triding__body

    &__body {
        text-align: center;
    }

    // .pablic-triding__header

    &__header {
    }

    // .pablic-triding__title
    &__title {
        margin-bottom: 15px;
    }
    // .pablic-triding__text

    &__text {
        max-width: 950px;
    }

    // .pablic-triding__cards

    &__cards {
        position: relative;
        @media (min-width: $mobile) {
            text-align: left;
        }

        @media (min-width: $mobile) {
            .pablic-triding__card:last-child {
                flex-direction: row-reverse;
            }
        }

        @media (min-width: $mobile) {
            .pablic-triding__card:first-child .item-card__img {
                margin-right: 80px;
            }

            .pablic-triding__card:last-child .item-card__img {
                margin-left: 80px;
            }
        }

        .pablic-triding__card:first-child .item-pablic__subtext {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                right: -1%;
                width: 77px;
                height: 77px;
                background-image: url(../img/шар\ violet.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                z-index: -2;
                @media (max-width: $tablet) {
                    top: -27px;
                    right: -12%;
                }
            }
        }
        .pablic-triding__card:last-child .item-pablic__subtext {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -106px;
                left: -1%;
                width: 77px;
                height: 77px;
                background-image: url(../img/red.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                z-index: -2;
                @media (max-width: $tablet) {
                    top: -186px;
                    left: -17%;
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: -10px;
            right: -33%;
            width: 448px;
            height: 468px;
            background-image: url(../img/bitcoin2.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: -2;
            @media (max-width: $tablet) {
                top: -75px;
                right: -20%;
                width: 448px;
                height: 368px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 300px;
            right: 90%;
            width: 407px;
            height: 513px;
            background-image: url(../img/рука.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: -2;
            @media (max-width: $tablet) {
                width: 307px;
                height: 413px;
            }
            @media (max-width: $mobile) {
                width: 307px;
                height: 413px;
                top: 550px;
                right: 71%;
            }
        }
    }

    // .pablic-triding__item

    &__card {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 0px 0px 0px;
        flex: 0 1 100%;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
.item-card__img {
    @media (max-width: $mobile) {
        margin-bottom: 30px;
    }
    img {
        width: 100%;
        max-width: 100%;
        @media (max-width: $mobile) {
            max-width: 70%;
            margin: 0 auto;
        }
    }
}

.item-pablic {
    flex: 0 1 20%;
    // .item-pablic__texttop

    &__texttop {
        position: relative;
        font-size: 26px;
        line-height: 125%;
        font-weight: 600;
        margin-bottom: 50px;
        &::before {
            content: "";
            position: absolute;
            height: 3px;
            width: 0%;

            transition: all 0.4s ease 0s;
            bottom: -12px;
            right: 0;
            background: linear-gradient(4.19deg, #2c90f7 -17.59%, #05c0cc 115.3%);

            @media (max-width: $mobile) {
                width: 100%;
                left: 0;
            }
        }
        @media (min-width: $mobile) {
            &:hover::before {
                width: 90%;
                left: 0;
                transition: all 0.2s ease 0s;
                background: linear-gradient(4.19deg, #e6e9ec -17.59%, #afdbdf 115.3%);
            }
        }
    }
    // .item-pablic__subtext

    &__subtext {
    }
}
.pablic-triding {
    // .pablic-triding__cards

    &__cards {
    }

    // .pablic-triding__card

    &__card {
    }
}
.item-card {
    // .item-card__img

    &__img {
    }

    // .item-card__text

    &__text {
        flex: 0 1 600px;
    }
}
.item-pablic {
    // .item-pablic__texttop

    &__texttop {
    }

    // .item-pablic__subtext

    &__subtext {
    }
}

//====================================================================================================
